@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InriaSansBold.ttf");
  font-family: "Inria Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/IbarraRealNovaBoldItalic.ttf");
  font-family: "Ibarra Real Nova";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InriaSansBoldItalic.ttf");
  font-family: "Inria Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/HanumanBold.ttf");
  font-family: "Hanuman";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/LimelightRegular.ttf");
  font-family: "Limelight";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/GildaDisplayRegular.ttf");
  font-family: "Gilda Display";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/GravitasOne.ttf");
  font-family: "Gravitas One";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InriaSerifBold.ttf");
  font-family: "Inria Serif";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/IstokWebBold.ttf");
  font-family: "Istok Web";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InriaSansRegular.ttf");
  font-family: "Inria Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/HalantRegular.ttf");
  font-family: "Halant";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/HalantSemiBold.ttf");
  font-family: "Halant";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/HalantBold.ttf");
  font-family: "Halant";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/HalantMedium.ttf");
  font-family: "Halant";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/Candal.ttf");
  font-family: "Candal";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/InriaSansLight.ttf");
  font-family: "Inria Sans";
  font-weight: 300;
}
