/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
3. Common CSS
==========================================*/

/*-------------------------------------
  1. CSS Variables
--------------------------------------*/
:root {
  /*------Color variables------*/
  --amber_300: #f6cb5a;
  --amber_600: #ffb901;
  --amber_600_01: #f7b600;
  --black_900: #000000;
  --black_900_06: #00000006;
  --black_900_26: #00000026;
  --black_900_2d: #0000002d;
  --black_900_33: #00000033;
  --black_900_3f: #0000003f;
  --black_900_4c: #0000004c;
  --black_900_66: #00000066;
  --black_900_7f: #0000007f;
  --black_900_99: #00000099;
  --black_900_a8: #000000a8;
  --blue_gray_100: #d9d9d9;
  --blue_gray_100_7f: #d9d9d97f;
  --blue_gray_400: #888888;
  --blue_gray_400_01: #7c9986;
  --blue_gray_50: #f1f1f1;
  --blue_gray_50_4c: #f1f1f14c;
  --blue_gray_50_f1: #f1f1f1f1;
  --blue_gray_700: #4b5563;
  --blue_gray_900: #143342;
  --deep_orange_900: #ad5f00;
  --gray_200: #e8e8e8;
  --gray_200_5e: #ececec5e;
  --gray_400: #bab8ab;
  --gray_400_01: #b3b3b3;
  --gray_400_99: #bab8ab99;
  --gray_400_b2: #b3b3b3b2;
  --gray_500: #a3a3a3;
  --gray_600: #717171;
  --gray_700: #555761;
  --gray_900: #000948;
  --gray_900_01: #0b1d26;
  --gray_900_02: #1d1b20;
  --gray_900_03: #1c1b1f;
  --gray_900_04: #0b3322;
  --gray_900_3f: #0b33223f;
  --gray_900_91: #0b1d2691;
  --gray_900_e0: #0b1d26e0;
  --indigo_900: #1a1f71;
  --light_blue_600: #009cde;
  --light_green_50: #f1f1e5;
  --orange_50: #f8f0e1;
  --orange_800_a0: #bd8100a0;
  --teal_800: #166450;
  --teal_800_cc: #166450cc;
  --teal_800_cc_01: #166350cc;
  --white_a700: #ffffff;
  --white_a700_19: #ffffff19;
  --white_a700_66: #ffffff66;
  --white_a700_7f: #ffffff7f;
  --white_a700_99: #ffffff99;
  --white_a700_b2: #ffffffb2;
  --white_a700_db: #ffffffdb;
  --yellow_800: #ffb71d;

  /*------Shadow variables------*/
  --shadow-xs: 0 4px 4px 0 #0000003f;
  --shadow-sm: 0 10px 30px 0 #0000003f;
  --shadow-md: 5px 4px 4px 0 #0000003f;
  --shadow-lg: 0 1px 1px 0 #0000003f;

  /*------Border radius variables------*/
  --radius-xs: 3px;
  --radius-sm: 4px;
  --radius-md: 5px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 18px;
  --radius-4xl: 20px;
  --radius-5xl: 22px;
  --radius-6xl: 24px;
  --radius-7xl: 28px;
  --radius-8xl: 30px;
  --radius-9xl: 32px;
  --radius-10xl: 34px;
  --radius-11xl: 38px;
  --radius-12xl: 50px;
  --radius-13xl: 60px;
  --radius-14xl: 74px;

  /*------Spacing variables------*/
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 6px;
  --space-lg: 8px;
  --space-xl: 10px;
  --space-2xl: 12px;
  --space-3xl: 14px;
  --space-4xl: 16px;
  --space-5xl: 18px;
  --space-6xl: 22px;
  --space-7xl: 24px;
  --space-8xl: 28px;
  --space-9xl: 30px;
  --space-10xl: 32px;
  --space-11xl: 36px;
  --space-12xl: 38px;
  --space-13xl: 40px;
  --space-14xl: 58px;
  --space-15xl: 94px;
  --space-16xl: 142px;
}

/*-------------------------------------
  2. Utility CSS
--------------------------------------*/
.flex-col-center-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-col-end-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-------------------------------------
  3. Common CSS
--------------------------------------*/
.sign-in-form__header {
  height: 300px;
  padding-left: 44px;
  padding-right: 44px;
  background-image: url(../public/images/img_hakkem_logo_dark_300x478.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.individual-sign {
  background-color: var(--gray_400);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-13xl);
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 550px) {
    padding: var(--space-4xl);
  }
}

.signup-form__header {
  height: 300px;
  margin-top: 280px;
  padding-left: 44px;
  padding-right: 44px;
  background-image: url(../public/Proj-Pictures/Dark-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row-two-1 {
  padding-top: var(--space-13xl);
  padding-bottom: var(--space-13xl);
  background-color: var(--white_a700);
  width: 100%;
  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-1 {
  display: flex;
  justify-content: center;
}

.row-two {
  padding-top: var(--space-13xl);
  padding-bottom: var(--space-13xl);
  background-color: var(--white_a700);
  width: 100%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.review-options {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sign-in-form__header__title {
  color: var(--gray_900_01) !important;
  margin-top: 302px;
  font-family: Gravitas One !important;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.column_one-1 {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  border-radius: var(--radius-xl);
}

.header__logo-column {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  gap: var(--space-xs);
}

.column_one {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-2xl);
  border-radius: var(--radius-xl);
}

.column-3 {
  margin-bottom: 4px;
  gap: var(--space-11xl);
  display: flex;
  flex-direction: column;
}

.section__content-1 {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-4xl);
  border-radius: var(--radius-xl);
}

.header__logo-1 {
  height: 48px;
  margin-left: 4px;
  width: 80%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.columntransferr {
  margin-bottom: 4px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.section__steps-column {
  margin-left: 96px;
  margin-right: 96px;
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rowtransaction {
  align-self: stretch;
}

.step-counter-with-icon-1 {
  margin-left: 190px;
  margin-right: 168px;
  gap: var(--space-xs);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.review-options__ai-assistant-container {
  width: 44%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columnheaderlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-counter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.columnstepcount {
  margin-left: 56px;
  margin-right: 56px;
  gap: var(--space-xs);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.step-counter__item--first {
  margin-left: 78px;
}

.section__steps-row {
  margin-left: 78px;
  margin-right: 76px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.progress__indicator--end {
  height: 40px;
  background-color: var(--gray_400_b2);
  width: 40px;
  border-radius: var(--radius-4xl);
  border: 1px solid var(--gray_400_01);
}

.transaction {
  margin-top: 34px;
  align-self: flex-start;
}

.footer__copyright-1 {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.progress-bar__indicator--next {
  height: 40px;
  background-color: var(--gray_400_01);
  width: 40px;
  border-radius: var(--radius-4xl);
  border: 2px solid var(--gray_400_01);
}

.rowsetpriceoffe {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.setpriceoffer {
  color: var(--black_900_99) !important;
  align-self: flex-end;
}

.columnprice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 550px) {
    align-self: stretch;
  }
}

.price-1 {
  color: var(--black_900_99) !important;
  font-family: Inria Serif !important;
}

.class-1000zero {
  color: var(--black_900) !important;
  margin-top: -42px;
  margin-right: 106px;
  font-family: Inria Serif !important;
  position: relative;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.lineseventythre {
  height: 1px;
  margin-top: 32px;
  margin-right: 4px;
  background-color: var(--black_900);
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.step-counter-with-icon__icons-row {
  margin-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.step-counter-with-icon__line--before {
  height: 1px;
  background-color: var(--teal_800);
  width: 16%;
}

.section__progress-line--middle {
  height: 1px;
  background-color: var(--teal_800);
  width: 18%;
}

.section__icon-button {
  height: 40px;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  background-color: var(--teal_800) !important;
  width: 40px;
  border-radius: 20px !important;
  border: 2px solid var(--teal_800_cc);
}

.progress-bar__indicator--current {
  height: 40px;
  width: 40px;
  border-radius: var(--radius-4xl);
  border: 2px solid var(--teal_800_cc);
}

.section__progress-line--final {
  height: 1px;
  background-color: var(--gray_400_01);
  width: 18%;
}

.section__divider--after {
  height: 1px;
  background-color: var(--teal_800);
  flex: 1;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.section__divider--one {
  height: 1px;
  background-color: var(--gray_400_01);
  flex: 1;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.research-details__wrapper {
  margin-top: 66px;
  margin-left: 16px;
  margin-right: 16px;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.research-details__column--labels {
  gap: 218px;
  display: flex;
  width: 24%;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    gap: 163px;
  }

  @media only screen and (max-width: 550px) {
    gap: 109px;
  }
}

.research-details__column--inputs {
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  gap: var(--space-7xl);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.inputs__title {
  padding-left: 20px;
  padding-right: 20px;
  border-color: var(--black_900_26);
  border-width: 1px;
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 80%;
  height: 42px;
  border-radius: 20px !important;
}

.inputs__field {
  gap: var(--space-4xl);
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 80%;
  background-image: url(../public/images/img_chevron_down.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: calc(100% - 18px);
  padding: var(--space-lg) var(--space-5xl);
  border-radius: 20px !important;
  border: 1px solid var(--black_900_26);
}

.inputs__abstract {
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 80%;
  height: 228px;
  padding: var(--space-2xl);
  border-radius: 24px !important;
  border: 1px solid var(--black_900_26) !important;
}

.column_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personal {
  color: var(--black_900) !important;
}

.name {
  color: var(--blue_gray_400) !important;
}

.section__icons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.column-inner__column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__divider--before {
  height: 1px;
  background-color: var(--teal_800);
  width: 10%;
}

.research-details {
  gap: var(--space-4xl);
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.research-details__labels {
  gap: var(--space-8xl);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.rowname {
  gap: 144px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowemail {
  margin-top: 8px;
  gap: 147px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowphone {
  margin-top: 8px;
  gap: 140px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.research-details__button--upload {
  color: var(--gray_600) !important;
  padding-left: 33px;
  padding-right: 13px;
  font-size: 20px;
  font-weight: 700;
  gap: var(--space-sm);
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  height: 44px;
  min-width: 522px;
  border-radius: 22px !important;
  border: 1px solid var(--black_900_26);
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
  }
}

.formkitdownloadcloud {
  height: 14px;
  margin-top: 8px;
  width: 18px;
  object-fit: contain;
}

.rowrequestid {
  gap: var(--space-15xl);
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowrequesttype {
  margin-top: 6px;
  gap: 68px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowstatus {
  margin-top: 8px;
  gap: var(--space-16xl);
  align-self: stretch;
  display: flex;
  align-items: center;
}

.to_be_accepted {
  color: var(--gray_500) !important;
  padding-left: 5.5px;
  padding-right: 11.5px;
  font-size: 16px;
  gap: var(--space-md);
  background-color: var(--blue_gray_50_f1) !important;
  height: 26px;
  min-width: 146px;
  border-radius: 4px !important;
  border: 0.5px solid var(--black_900_33);
}

.time-fill {
  height: 16px;
  margin-bottom: 4px;
  width: 16px;
  object-fit: contain;
}

.rowdate {
  margin-top: 8px;
  gap: 160px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowstatus_one {
  margin-top: 8px;
  gap: 139px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.not_yet {
  color: var(--gray_500) !important;
  padding-left: 1.5px;
  padding-right: 7.5px;
  font-size: 16px;
  gap: var(--space-md);
  background-color: var(--blue_gray_50_f1) !important;
  height: 26px;
  min-width: 168px;
  border-radius: 4px !important;
  border: 0.5px solid var(--black_900_33);
}

.time-fill-1 {
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 16px;
  object-fit: contain;
}

.rowamount {
  margin-top: 6px;
  gap: 121px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.rowback-1 {
  margin-top: 86px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.action-buttons__button--cancel {
  color: var(--black_900) !important;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--blue_gray_100) !important;
  box-shadow: 5px 4px 4px 0 #0000003f !important;
  height: 54px;
  min-width: 174px;
  border-radius: 20px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.view-1 {
  height: 40px;
  width: 40px;
  border-radius: var(--radius-4xl);
  border: 2px solid var(--teal_800_cc_01);
}

.section__divider--three {
  height: 1px;
  background-color: var(--gray_400_01);
  width: 10%;
}

.column-2 {
  margin-top: 32px;
  margin-left: 22px;
  margin-right: 22px;
  gap: var(--space-11xl);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.columnrecipient {
  gap: var(--space-3xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stackprice {
  height: 40px;
  align-self: stretch;
  position: relative;
  align-content: center;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.groupthree {
  color: var(--black_900) !important;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Inria Serif;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 4px 4px 0 #0000003f !important;
  width: 44%;
  height: 40px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px !important;
  border: 1px solid var(--black_900) !important;
}

.groupone {
  color: var(--black_900) !important;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 4px 4px 0 #0000003f !important;
  width: 44%;
  height: 40px;
  border-radius: 10px !important;
  border: 1px solid var(--black_900) !important;
}

.header__menu-item-1 {
  color: var(--black_900_99) !important;
}

.review-options__ai-assistant-text {
  color: var(--black_900) !important;
  align-self: flex-end;
}

.publish-request__button-next {
  color: var(--white_a700) !important;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--teal_800) !important;
  height: 54px;
  min-width: 174px;
  border-radius: 20px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__brand-name {
  color: var(--gray_900_01) !important;
  font-family: Gravitas One !important;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }
}

.columnrequestde {
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.requestdetails {
  margin-left: 28px;
  align-self: flex-start;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.section__button--back {
  color: var(--white_a700) !important;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--teal_800) !important;
  box-shadow: 5px 4px 4px 0 #0000003f !important;
  height: 54px;
  min-width: 174px;
  border-radius: 20px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.user-profile__name {
  color: var(--black_900) !important;
  font-family: Inter !important;
}

.user-profile__stack {
  height: 164px;
  align-self: stretch;
  position: relative;
}

.user-profile__button {
  color: var(--black_900_99) !important;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 24px;
  font-weight: 700;
  height: 48px;
  min-width: 164px;
  position: absolute;
  bottom: 1px;
  right: 0px;
  margin: auto;
  border-radius: 20px !important;
  border: 1px solid var(--black_900) !important;
  @media only screen and (max-width: 1050px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.user-profile__description-3 {
  width: 94%;
  line-height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
}

.user-profile__description-span {
  font-weight: 700;
}

.rowpersonal {
  margin-top: 30px;
  margin-left: 28px;
  margin-right: 28px;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.confirm {
  color: var(--white_a700) !important;
  padding-left: var(--space-9xl);
  padding-right: var(--space-9xl);
  font-size: 32px;
  font-weight: 700;
  background-color: var(--teal_800) !important;
  box-shadow: 5px 4px 4px 0 #0000003f !important;
  height: 54px;
  min-width: 174px;
  border-radius: 20px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rowrequestdetai-1 {
  margin-top: 12px;
  margin-left: 28px;
  margin-right: 28px;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rowrecipient {
  margin-top: 8px;
  gap: 108px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.transaction-1 {
  color: var(--black_900) !important;
  margin-top: 8px;
}

.rowtransactioni {
  margin-top: 4px;
  gap: 57px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    gap: 20px;
  }
}

.header__navigation-row {
  gap: var(--space-xl);
  display: flex;
  width: 38%;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
    width: 100%;
  }
}

.header__menu-row {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  flex: 1;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 550px) {
    align-self: stretch;
  }
}

.header__menu-1 {
  margin-top: 16px !important;
  gap: var(--space-9xl);
  display: flex;
  flex-wrap: wrap;
}

.header__profile-image {
  height: 60px;
  width: 14%;
  object-fit: contain;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.sign-in-form {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.form {
  align-self: center;
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.signup-form__title-1 {
  color: var(--gray_900_e0) !important;
  font-family: Candal !important;
}

.form__field--logo {
  color: var(--black_900_7f) !important;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 24px;
  font-weight: 700;
  gap: var(--space-4xl);
  border-color: var(--black_900_66);
  border-bottom-width: 1px;
  background-color: var(--blue_gray_50_4c) !important;
  box-shadow: 0 4px 4px 0 #0000003f !important;
  height: 58px;
  border-radius: 28px !important;
  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.downloadicon {
  height: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 22px;
  object-fit: contain;
}

.sign-in-form__signup-text {
  color: var(--black_900_4c) !important;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.sign-in-form__signup-link {
  color: var(--black_900_a8) !important;
}

.signup-form__input--first-name {
  color: var(--black_900_7f) !important;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 24px;
  font-weight: 700;
  border-color: var(--black_900_66);
  border-bottom-width: 1px;
  background-color: var(--blue_gray_50_4c) !important;
  box-shadow: 0 4px 4px 0 #0000003f !important;
  height: 58px;
  border-radius: 28px !important;
  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.footer__privacy-list {
  gap: var(--space-xl);
  display: flex;
  flex-wrap: wrap;
}

.footer__link {
  color: var(--gray_900_01) !important;
}

.footer__copyright-icon {
  height: 52px;
  width: 8%;
  object-fit: contain;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.footer__copyright-text {
  color: var(--gray_900_01) !important;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }
}

.footer__image--contact {
  height: 50px;
  width: 8%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}
