body {
  background: #bab8ab;
  font-family: "Headland One", serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo-section {
  position: absolute;
  top: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: -9px;
}

.logo {
  width: 95px;
}

.brand-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Gravitas One", cursive;
  color: #0b1d26;
  margin-top: -5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-background {
  background: linear-gradient(180deg, #bab8ab 0, #97968d 130%);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 500px;
}

h2 {
  color: #0b1d26;
  font-size: 24px;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  text-align: left;
  padding-left: 10px;
  display: none;
}

.signup-btn {
  background-color: #0b1d26;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #09202a;
}

.file-upload-container {
  display: flex;
  align-items: center;
  width: 105%;
  margin: 10px 0;
  position: relative;
}
.file-input-wrapper {
  width: 100%;
  position: relative;
}

.file-upload-container input[type="text"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 14px;
  text-align: left;
  padding-right: 40px;
}

.file-upload-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-background {
    width: 90%;
    padding: 20px;
  }
  h2 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .form-background {
    width: 95%;
    padding: 15px;
  }
  h2 {
    font-size: 20px;
  }
}
