.review-options__column {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  padding: 86px 56px;
  border-radius: var(--radius-xl);
  @media only screen and (max-width: 1050px) {
    padding: 20px;
  }
}

.review-options__content {
  margin-bottom: 4px;
  gap: 46px;
  display: flex;
  flex-direction: column;
}

.review-options__description {
  color: var(--black_900) !important;
  text-align: center;
  line-height: 38px;
}

.review-options__options-column {
  gap: var(--space-8xl);
  display: flex;
  flex-direction: column;
}

.review-options__divider {
  height: 1px;
  background-color: var(--gray_900_04);
}

.review-options__options-row {
  margin-left: 50px;
  margin-right: 42px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.review-options__ai-assistant-column {
  gap: var(--space-8xl);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.review-options__ai-assistant-image {
  height: 130px;
  margin-left: 98px;
  width: 44%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.review-options__ai-assistant-text-container {
  gap: var(--space-md);
  display: flex;
  align-items: center;
}

.review-options__ai-assistant-button {
  color: var(--white_a700) !important;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--teal_800) !important;
  height: 66px;
  min-width: 220px;
  border-radius: 30px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.review-options__independent-review-container {
  flex: 1;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.review-options__independent-review-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.review-options__independent-divider {
  height: 222px;
  align-self: center;
  background-color: var(--gray_900_04);
  width: 1px;
  @media only screen and (max-width: 550px) {
    width: 222px;
    height: 1px;
  }
}

.review-options__independent-text {
  color: var(--black_900) !important;
  margin-left: 46px;
  @media only screen and (max-width: 550px) {
    margin-left: 0px;
  }
}

.review-options__independent-column {
  margin-top: 6px;
  gap: var(--space-9xl);
  display: flex;
  width: 72%;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.review-options__independent-image {
  height: 130px;
  margin-left: 86px;
  width: 54%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.review-options__independent-button {
  color: var(--white_a700) !important;
  margin-left: 10px;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  font-size: 30px;
  font-weight: 700;
  background-color: var(--teal_800) !important;
  align-self: stretch;
  height: 66px;
  border-radius: 30px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 28px;
    margin-left: 0px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}
