<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Sign Up</title>
    <link
      rel="stylesheet"
      href="/CSS/MainPages/SIGNIN - SIGNUP/UniversitySignUpForm.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Candal&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo-section">
          <img
            src="/public/images/Dark-logo.png"
            alt="Hakkem Logo"
            class="logo"
          />
          <p class="brand-name">HAKKEM</p>
        </div>
      </div>
    </header>

    <div class="form-container">
      <div class="form-background">
        <h2>Create Account</h2>
        <form>
          <input type="text" placeholder="First Name" required />
          <input type="text" placeholder="Last Name" required />
          <input type="text" placeholder="University Name" required />
          <input
            type="email"
            id="email"
            placeholder="Main Email"
            required
            oninput="validateEmail()"
          />
          <p id="emailError" class="error-message"></p>

          <div class="password-container">
            <input
              type="password"
              id="password"
              placeholder="Password"
              required
            />
            <span class="toggle-password" onclick="togglePassword()"></span>
          </div>
          <input type="password" placeholder="Confirm Password" required />

          <div class="file-upload-container">
            <input
              type="file"
              id="universityLogo"
              accept=".pdf, .png, .jpg, .jpeg"
              hidden
            />
            <input
              type="text"
              id="fileText"
              placeholder="Attach University Logo (PDF, PNG, JPG, JPEG)"
              readonly
            />
            <label for="universityLogo" class="file-upload-icon">📤</label>
          </div>

          <button
            type="submit"
            class="signup-btn"
            onclick="redirectToNextPage()"
          >
            SIGN UP
          </button>
        </form>
      </div>
    </div>

    <script src="/JavaScripts/SignIn.js"></script>
  </body>
</html>
