/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.user-profile-3 {
  background-color: var(--white_a700_99);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  padding: var(--space-4xl);
  border-radius: var(--radius-xl);
}

.user-profile__column-3 {
  margin-top: 6px;
  gap: var(--space-xl);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.section__column-2 {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  border-radius: var(--radius-xl);
}

.section__main-column {
  margin-bottom: 4px;
  gap: 126px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    gap: var(--space-15xl);
  }

  @media only screen and (max-width: 550px) {
    gap: 63px;
  }
}

.section__content-row {
  padding-left: 34px;
  padding-right: 34px;
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section__invite-column {
  gap: 66px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 550px) {
    gap: 33px;
  }
}

.section__grid {
  display: grid;
  gap: 132px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.section__buttons-row {
  margin-left: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
