.review-section__content-row {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-6xl);
  border-radius: var(--radius-xl);
  @media only screen and (max-width: 550px) {
    padding: 20px;
  }
}

.review-section__side {
  margin-bottom: 36px;
  gap: var(--space-xs);
  display: flex;
  width: 88%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.review-section__main {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.review-section__main-column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-section__steps {
  gap: 22px;
  display: relative;
  align-self: stretch;
  flex-direction: column;
}

.review-section__lines-row {
  gap: 40px;
  display: flex;
  border-top: 10px;
}

.review-section__line--64 {
  height: 1px;
  background-color: var(--teal_800);
  width: 28%;
}

.review-section__line--65 {
  height: 1px;
  background-color: var(--gray_400_01);
  width: 42%;
}

.review-section__icon-button {
  height: 50px;
  margin-top: -20px;
  margin-left: 100px;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  position: relative;
  background-color: var(--teal_800) !important;
  width: 50px;
  border-radius: 30px !important;
  border: 2px solid var(--teal_800_cc);
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.review-section__view {
  height: 50px;
  margin-top: -50px;
  margin-right: 20px;
  position: relative;
  width: 50px;
  border-radius: 30px;
  border: 2px solid var(--teal_800_cc);
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.review-section__feedback {
  height: 770px;
  padding-top: 34px;
  padding-bottom: 34px;
  z-index: 1;
  align-self: stretch;
  position: relative;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }

  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.review-section__feedback-view {
  height: 654px;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  flex: 1;
  border-radius: var(--radius-xl);
}

.review-section__feedback-text {
  font-weight: 400 !important;
  width: 86%;
  line-height: 23px;
  position: absolute;
  left: 22px;
  top: 8%;
  margin: auto;
}

.review-section__close-button {
  color: var(--black_900) !important;
  margin-top: -54px;
  padding-left: var(--space-8xl);
  padding-right: var(--space-8xl);
  font-size: 32px;
  font-weight: 700;
  position: relative;
  background-color: var(--blue_gray_100) !important;
  box-shadow: 5px 4px 4px 0 #0000003f !important;
  height: 54px;
  min-width: 134px;
  border-radius: 20px !important;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
