/* outer div - overlay css */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-option {
  display: flex;
  justify-content: center;
}

.container-r {
  margin-left: auto;
  margin-right: auto;
}

.section__column-1 {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 #0000003f;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  min-width: 879.98px;
  min-height: 725.95px;
}

.section-footer {
  display: flex;
  width: 96%;
  flex-direction: column;
}

.columnheaderlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* Stages css */
.step-counter__wrapper {
  gap: var(--space-xs);
  display: flex;
  width: 38%;
  flex-direction: column;
}

.progress-bar {
  display: flex;
  align-items: center;
}

.progress-bar__line--start {
  height: 1px;
  background-color: var(--teal_800);
  width: 26%;
}

.progress-bar__line--end {
  height: 1px;
  background-color: var(--gray_400_01);
  flex: 1;
}

/* Content css */
.review-section__view {
  height: 50px;
  margin-top: -50px;
  margin-right: 20px;
  position: relative;
  width: 50px;
  border-radius: 30px;
  border: 2px solid var(--teal_800_cc);
}

.review-section__feedback {
  height: 543px;
  z-index: 1;
  align-self: stretch;
  position: relative;
}

.review-section__feedback-view {
  position: relative;
  height: 480px;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  flex: 1;
  border-radius: var(--radius-xl);
  overflow-y: auto;
  padding: 10px;
}

.review-section__feedback-text {
  font-weight: 400 !important;
  width: 96%;
  line-height: 23px;
  position: absolute;
  left: auto;
  top: auto;
  margin: auto;
  max-height: 100%;
  padding: 15px;
}

.size-text {
  font-size: 20px;
  font-weight: 300;
}

/* overlay buttons */
.action-button {
  display: flex;
  gap: 300px;
  width: inherit;
  flex-direction: row;
  align-items: center;
}

.action-button__button--close {
  color: #ffffff !important;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 24px;
  font-weight: 700;
  background-color: #166450 !important;
  box-shadow: 5px 4px 4px 0 #0000003f !important;
  height: 54px;
  width: 366px;
  border-radius: 20px !important;
  justify-content: center;
}
