@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

body {
  background: #bab8ab;
  font-family: "Headland One", serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.logo-section {
  position: absolute;
  top: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: -9px;
}

.logo {
  width: 95px;
}

.brand-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Gravitas One", cursive;
  color: #0b1d26;
  margin-top: -5px;
}

h1 {
  color: #0b1d26;
  font-size: 1.2em;
  margin-top: 100px;
}

p {
  color: #0b1d26;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.user-type-container {
  background: linear-gradient(180deg, #bab8ab 0%, #54534d 100%);
  padding: 30px;
  margin: 30px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.user-type-btn {
  display: block;
  background-color: #0b1d26;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 10;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-type-btn:hover {
  background-color: #09202a;
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .user-type-container {
    max-width: 700px;
  }
  h1 {
    font-size: 3em;
  }
  .user-type-btn {
    font-size: 20px;
    padding: 18px;
  }
}

@media (max-width: 1199px) {
  .user-type-container {
    max-width: 550px;
  }
  h1 {
    font-size: 2.2em;
  }
  .user-type-btn {
    font-size: 17px;
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .user-type-container {
    max-width: 450px;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 2em;
  }
  .user-type-btn {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .user-type-container {
    max-width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    font-size: 1.8em;
  }
  .user-type-btn {
    font-size: 15px;
    padding: 10px;
  }
}
