/* إعدادات البودي */
body {
  font-family: 'Candal', sans-serif;
  background-color: #BAB8AB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* الحاوية الرئيسه */
.container {
  position: absolute;
  top: 30px;
  left: 40px;
  display: flex;
  flex-direction:column ;
  align-items: center;
 text-align: center;
}

.logo-section {
  position: absolute;
  top: 10px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 85px; 
}

.brand-name {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Gravitas One', cursive;
  color: #0B1D26;
  margin-top: -5px;
}


/* قسم الفورم */
.form-container {
  position: fixed;
  top: 20%;
  left: 30%;
  transform: translate(-50, -50);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  min-width: 400px;
  max-width: 500px;
}

/* عنوان تسجيل الدخول */
.form-title {
  font-size: 20px;
  color: rgba(11, 29, 38, 0.88);
  margin-bottom: 20px;
}

/* الحقول */
input {
  width: 90%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 200px;
  font-size: 15px;
  background: white;
  box-shadow: 
      inset 0px 1px 1px rgba(0, 0, 0, 0.2), /* Inner Shadow */
      0px 4px 4px rgba(0, 0, 0, 0.2); /* Drop Shadow */
      margin-bottom: 19px;
}
.input::placeholder{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.9);
  text-align: right;

}

/* رابط نسيان كلمة المرور */
.forgot-password {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #0B1D26;
  text-decoration: normal;
}

/* زر تسجيل الدخول */
button {
  width: 60%;
  padding: 12px;
  background-color: #0B1D26;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #09202a;
}

/* نص إنشاء حساب */
.signup-text {
  margin-top: 15px;
  font-size: 13px;
  
}

.signup-text a {
  color: #0B1D26;
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 768px) {
    .form-container {
        width: 90%; 
        max-width: 400px;
        padding: 30px;
    }

    input {
        width: 100%; 
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 95%; 
        max-width: 350px;
        padding: 20px;
    }

    .form-title {
        font-size: 20px; 
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}