.search-section__column {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  border-radius: var(--radius-xl);
  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.search-section__column-main {
  margin-bottom: 4px;
  gap: 44px;
  display: flex;
  flex-direction: column;
}

.search-section__search-container {
  padding-left: 80px;
  padding-right: 56px;
  gap: var(--space-9xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.step-counter-with-icons {
  margin-left: 16px;
  margin-right: 16px;
  gap: var(--space-xs);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.search-section__search-input {
  color: var(--black_900_4c);
  padding-left: var(--space-4xl);
  padding-right: var(--space-2xl);
  font-size: 16px;
  font-weight: 700;
  gap: var(--space-4xl);
  border-color: var(--black_900_7f);
  border-width: 1px;
  background-color: var(--white_a700_66) !important;
  width: 32%;
  font-style: italic;
  height: 36px;
  border-radius: 18px !important;
}

.search-icon-removebg-preview-3 {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.search-section__navigation-container {
  padding-left: 42px;
  padding-right: 42px;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.search-section__navigation-column {
  gap: 370px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    gap: 277px;
  }

  @media only screen and (max-width: 550px) {
    gap: 185px;
  }
}

.user-profile-7 {
  margin-left: 38px;
  background-color: var(--white_a700_99);
  box-shadow: var(--shadow-xs);
  padding: var(--space-4xl);
  border-radius: var(--radius-xl);
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.user-profile__column-7 {
  margin-top: 6px;
  gap: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
