.section__main-column-1 {
  margin-bottom: 4px;
  margin-right: 14px;
  gap: 158px;
  display: flex;
  width: 96%;
  flex-direction: column;
}

.section__details {
  margin-right: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section__steps {
  gap: var(--space-xs);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.section__steps-row-1 {
  margin-left: 76px;
  margin-right: 76px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.section__step-counter--1 {
  margin-left: 58px;
}

.section__details-title {
  margin-top: 30px;
}

/* Textfield Content */
.research-detail__wrapper {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  align-self: stretch;
}

.research-detail-row{
display: flex;
flex-direction: column;
gap: 20px;
}

.research-details__label {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-between;
}

.research-details__input--title {
  padding-left: 10px;
  padding-right: 10px;
  border-color: #00000026;
  border-width: 1px;
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 60%;
  height: 42px;
  border-radius: 20px !important;
  display: inline-block;
}

.research-details__dropdown--field {
  gap: 20px;
  background-color: #ececec5e !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 60%;
  background-image: url(../../../../public/images/img_chevron_down.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: calc(100% - 15px);
  padding: var(--space-lg) var(--space-5xl);
  border-radius: 20px !important;
  border: 1px solid #00000026;
}

.research-details__textarea--abstract {
  background-color: #ececec5e !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 60%;
  height: 228px;
  padding: 12px;
  border-radius: 24px !important;
  border: 1px solid #00000026 !important;
  resize: none;
  overflow-y: scroll;
}

.text-style {
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  width: auto;
}

.input-style {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.input_fill {
  background-color: #ececec5e;
  box-shadow: #0000003f;
}

label {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

label:hover {
  background-color: #eee;
}
