.section__content__column {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg);
  border-radius: var(--radius-xl);
}

.section__form-1 {
  margin-bottom: 4px;
  width: 94%;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.step-counter-with-icon {
  margin-left: 190px;
  margin-right: 168px;
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.section__form__instructions {
  margin-top: 40px;
  gap: var(--space-14xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 550px) {
    gap: 29px;
  }
}

.section__form__fields {
  margin-left: 20px;
  margin-right: 20px;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.section__form__field-labels {
  gap: 212px;
  display: flex;
  width: 24%;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    gap: 159px;
  }

  @media only screen and (max-width: 550px) {
    gap: 106px;
  }
}

.section__form__inputs {
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  gap: var(--space-6xl);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.section__form__input--text {
  padding-left: 20px;
  padding-right: 20px;
  border-color: var(--black_900_26);
  border-width: 1px;
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 74%;
  height: 42px;
  border-radius: 20px !important;
}

.section__form__input--dropdown {
  gap: var(--space-4xl);
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 74%;
  background-image: url(../public/images/img_chevron_down.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: calc(100% - 18px);
  padding: var(--space-lg) var(--space-5xl);
  border-radius: 20px !important;
  border: 1px solid var(--black_900_26);
}

.section__form__input--textarea {
  background-color: var(--gray_200_5e) !important;
  box-shadow: 0 1px 1px 0 #0000003f !important;
  width: 74%;
  height: 228px;
  padding: var(--space-2xl);
  border-radius: 24px !important;
  border: 1px solid var(--black_900_26) !important;
}

.section__form__actions {
  margin-top: 168px;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}
