/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.about-section__description {
  font-family: Halant !important;
  width: 70%;
  line-height: 63px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 32px;
  }
}

.about-section__title {
  color: var(--black_900) !important;
  font-family: Halant !important;
  font-weight: 600 !important;
  text-shadow: 0px 4px 4px #0000003f;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.user-profile__image {
  height: 128px;
  margin-left: 126px;
  z-index: 2;
  width: 44%;
  position: relative;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.user-profile__content {
  height: 428px;
  margin-top: -46px;
  position: relative;
  background-image: url(../public/images/img_group_75.svg);
  background-size: cover;
  background-repeat: no-repeat;
  align-self: stretch;
  padding: 122px 34px;
  @media only screen and (max-width: 1440px) {
    height: auto;
    padding-top: var(--space-10xl);
    padding-bottom: var(--space-10xl);
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding: var(--space-4xl);
  }
}

.user-profile__title {
  color: var(--white_a700) !important;
  font-family: Halant !important;
  z-index: 1;
  align-self: flex-end;
  position: relative;
  line-height: 63px;
  @media only screen and (max-width: 1440px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 32px;
  }
}

.user-profile__description {
  color: var(--white_a700) !important;
  font-family: Halant !important;
  text-align: center;
  align-self: stretch;
  line-height: 42px;
  @media only screen and (max-width: 1440px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 21px;
  }
}

.flexible-interface-header {
  background-color: var(--blue_gray_100_7f);
  width: 24%;
  display: flex;
  justify-content: center;
  padding: 68px 20px;
  border-radius: var(--radius-12xl);
  border: 1px solid var(--black_900);
  @media only screen and (max-width: 1440px) {
    padding-top: var(--space-10xl);
    padding-bottom: var(--space-10xl);
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
  }
}

.flexible-interface-header__title {
  color: var(--black_900) !important;
  margin-bottom: 12px;
  font-family: Halant !important;
  font-weight: 600 !important;
  @media only screen and (max-width: 1440px) {
    font-size: 27px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 26px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.about-us {
  gap: var(--space-7xl);
  background-color: var(--white_a700);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-2 {
  margin-top: 14px;
  margin-left: 16px;
  margin-right: 28px;
  display: flex;
  background: linear-gradient(180deg, #ffffffb2, #ffffffb2);
  align-items: flex-start;
  border-radius: var(--radius-4xl);
  border: 1px solid var(--white_a700_7f);
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.header__top-row-1 {
  margin-bottom: 8px;
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.stackrevolution {
  height: 990px;
  position: relative;
}

.teamimage_one {
  height: 952px;
  flex: 1;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
}

.box {
  background-color: var(--gray_900_01);
  width: 68%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -1px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-3xl);
  border-radius: var(--radius-13xl);
  border: 25px solid var(--white_a700);
}

.box__title {
  color: var(--white_a700) !important;
  font-family: Halant !important;
  text-align: center;
  flex: 1;
  line-height: 75px;
  @media only screen and (max-width: 1440px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.about-section {
  margin-top: 214px;
  margin-left: 176px;
  margin-right: 176px;
  gap: var(--space-9xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.about-section__content {
  height: 616px;
  align-self: stretch;
  position: relative;
}

.about-section__image {
  height: 374px;
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 1px;
  right: 0px;
  margin: auto;
}

.about-us-section {
  margin-top: 300px;
  margin-left: 176px;
  margin-right: 176px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.about-us-section__column {
  gap: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-section__stack {
  height: 462px;
  align-self: stretch;
  position: relative;
}

.about-us-section__description {
  font-family: Halant !important;
  width: 62%;
  line-height: 63px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 32px;
  }
}

.about-us-section__image {
  height: 374px;
  width: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 1px;
  left: 0px;
  margin: auto;
}

.column {
  margin-top: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__column {
  padding-left: 144px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-us__content {
  align-self: center;
  width: 80%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-us__column-2 {
  gap: 48px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__divider {
  height: 1px;
  background-color: var(--black_900);
  width: 54%;
}

.about-us__stack {
  height: 498px;
  margin-left: 16px;
  align-self: stretch;
  position: relative;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.about-us__image {
  height: 374px;
  width: 42%;
  object-fit: contain;
  position: absolute;
  bottom: 1px;
  right: -1px;
  margin: auto;
}

.columntranspare {
  margin-top: 222px;
  gap: var(--space-14xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 550px) {
    gap: 29px;
  }
}

.about-us__column-1 {
  padding-left: 56px;
  padding-right: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1440px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.profession-list {
  gap: var(--space-8xl);
  align-self: center;
  display: flex;
  width: 74%;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.user-profile {
  width: 32%;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.user-profile-1 {
  margin-top: 22px;
  width: 32%;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-top: 0px;
  }
}

.user-profile-2 {
  margin-top: 14px;
  width: 32%;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-top: 0px;
  }
}

.rowwhychooseus {
  margin-top: 238px;
  z-index: 4;
  position: relative;
}

.aboutussection {
  gap: var(--space-15xl);
  background-color: var(--gray_900_3f);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 170px 56px;
  @media only screen and (max-width: 1440px) {
    gap: var(--space-15xl);
    padding-top: var(--space-10xl);
    padding-bottom: var(--space-10xl);
  }

  @media only screen and (max-width: 1050px) {
    gap: 70px;
    padding: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 47px;
    padding: var(--space-4xl);
  }
}

.column-1 {
  margin-left: 66px;
  margin-right: 104px;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.column__title {
  color: var(--gray_900_03) !important;
  font-family: Halant !important;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.column__description {
  margin-top: -10px;
  font-family: Halant !important;
  text-align: center;
  font-weight: 500 !important;
  position: relative;
  align-self: stretch;
  line-height: 75px;
  @media only screen and (max-width: 1440px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.about-us__list {
  margin-bottom: 152px;
  gap: var(--space-12xl);
  display: flex;
  width: 78%;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.footer-2 {
  margin-top: -4px;
  padding-left: var(--space-3xl);
  padding-right: var(--space-3xl);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}
