/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.menuitem-link {
  margin-bottom: 14px;
  cursor: pointer;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 550px) {
    margin-bottom: 0px;
  }
}

.header__menu-item {
  color: var(--black_900_99) !important;
  padding: var(--space-5xl);
  &:hover {
    color: var(--white_a700) !important;
    background-color: var(--gray_900_01);
    border-radius: var(--radius-lg);
  }
}

.getstarted__subtitle-1 {
  color: var(--gray_900_01) !important;
  letter-spacing: 6px;
  font-family: Hanuman !important;
  text-transform: uppercase;
  @media only screen and (max-width: 1440px) {
    font-size: 15px;
  }
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.columnrobot_hand_fing-one {
  background-color: var(--gray_400);
  width: 100%;
}

.row {
  height: 1178px;
  background-image: url(../public/images/img_component_17_frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-self: stretch;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.rowstartyourgre {
  margin-top: 24px;
}

.header {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  gap: 188px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
    gap: 20px;
  }
}

.header__logo {
  width: 110px;
}

.menuitem_two-link {
  background-color: var(--gray_900_01);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: var(--radius-lg);
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }
}

.header__menu-item--sign-in {
  color: var(--white_a700) !important;
  padding: var(--space-5xl);
}

.get-started__content {
  margin-top: 168px;
  padding-left: var(--space-8xl);
  padding-right: var(--space-8xl);
  gap: var(--space-10xl);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.get-started__title {
  color: var(--gray_900_01) !important;
  margin-left: 84px;
  font-family: Ibarra Real Nova !important;
  text-transform: capitalize;
  line-height: 80px;
  font-style: italic;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }

  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.get-started__info {
  gap: var(--space-5xl);
  display: flex;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.get-started__image {
  height: 4px;
  width: 6%;
  object-fit: contain;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.get-started__description {
  color: var(--orange_800_a0) !important;
  text-transform: uppercase;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }
}

.columnunion_one {
  margin-top: 38px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.get-started__column {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.get-started__column-content {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.get-started__navigation {
  background-color: var(--gray_900_91);
  width: 32%;
  display: flex;
  border-radius: var(--radius-10xl);
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.get-started__button {
  background-color: var(--gray_900_04);
  box-shadow: var(--shadow-xs);
  display: flex;
  padding: 26px var(--space-3xl);
  border-radius: var(--radius-9xl);
  @media only screen and (max-width: 550px) {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
  }
}

.get-started__button-icon {
  height: 14px;
}

.get-started__heading {
  color: var(--white_a700_db) !important;
  margin-top: -42px;
  position: relative;
  text-shadow: 0px 4px 4px #0000003f;
  font-style: italic;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.rowunion_one {
  margin-top: -18px;
  position: relative;
}

.union_one {
  height: 564px;
  margin-top: 28px;
  width: 100%;
  object-fit: cover;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.get-started {
  margin-top: -192px;
  padding-left: 56px;
  padding-right: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.get-started__description-column {
  margin-right: 8px;
  gap: var(--space-7xl);
  display: flex;
  width: 78%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-right: 0px;
  }
}

.get-started__equipment-row {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.get-started__equipment-number {
  color: var(--white_a700_19) !important;
  font-family: Gilroy !important;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.get-started__tagline-column {
  margin-bottom: 4px;
  margin-left: -166px;
  gap: var(--space-2xl);
  align-self: flex-end;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    margin-left: 0px;
  }
}

.get-started__tagline-row {
  margin-left: 8px;
  margin-right: 8px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.get-started__tagline-content {
  gap: 26px;
  display: flex;
  align-items: center;
}

.get-started__tagline-line {
  height: 2.02px;
  background-color: var(--gray_900_01);
  width: 12%;
}

.get-started__headline {
  color: var(--white_a700) !important;
  letter-spacing: 1.29px;
  font-family: Limelight !important;
  line-height: 52px;
  @media only screen and (max-width: 1440px) {
    font-size: 36px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 27px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 21px;
  }
}

.get-started__subtext {
  color: var(--white_a700) !important;
  font-family: Gilda Display !important;
  text-shadow: 0px 4px 30px #0000003f;
  @media only screen and (max-width: 1440px) {
    font-size: 27px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 26px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

.row_one {
  margin-top: 316px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.getstarted__content {
  width: 84%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.getstarted__image {
  height: 596px;
  margin-top: 48px;
  align-self: flex-end;
  width: 34%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.getstarted__text-column {
  padding-left: 26px;
  padding-right: 26px;
  gap: var(--space-sm);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }

  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.getstarted__text-stack {
  height: 342px;
  align-self: stretch;
  position: relative;
}

.getstarted__text-container {
  gap: var(--space-md);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0.11px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.getstarted__title-row {
  margin-left: 162px;
  margin-right: 162px;
  gap: var(--space-6xl);
  align-self: stretch;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.getstarted__title-decoration {
  height: 2px;
  margin-bottom: 14px;
  align-self: flex-end;
  background-color: var(--gray_900_01);
  width: 14%;
  @media only screen and (max-width: 1050px) {
    margin-bottom: 0px;
  }
}

.getstarted__title-1 {
  color: var(--gray_900_01) !important;
  letter-spacing: 5px;
  font-family: Hanuman !important;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.getstarted__subtitle {
  color: var(--white_a700) !important;
  letter-spacing: 1.29px;
  font-family: Limelight !important;
  align-self: flex-end;
  width: 82%;
  line-height: 52px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    font-size: 36px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    font-size: 27px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 21px;
  }
}

.getstarted__section-number {
  color: var(--white_a700_19) !important;
  font-family: Gilroy !important;
  position: absolute;
  left: 6%;
  top: 0px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.getstarted__description {
  color: var(--white_a700) !important;
  margin-right: 40px;
  font-family: Gilda Display !important;
  width: 80%;
  line-height: 32px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    font-size: 27px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    font-size: 26px;
    margin-right: 0px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

.row_three {
  margin-top: 268px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.getstarted__rowequipment {
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.getstarted__columnequipment {
  padding-left: var(--space-8xl);
  padding-right: var(--space-8xl);
  gap: var(--space-2xl);
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }

  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.getstarted__stackequipment {
  height: 244px;
  align-self: stretch;
  position: relative;
}

.getstarted__title {
  color: var(--white_a700_19) !important;
  font-family: Gilroy !important;
  text-shadow: 0px 6px 6px #00000006;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.getstarted__columnline {
  width: 76%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.getstarted__rowline {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.getstarted__rowline-wrapper {
  gap: 13px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.getstarted__line {
  height: 2px;
  margin-bottom: 12px;
  align-self: flex-end;
  background-color: var(--gray_900_01);
  width: 10%;
  @media only screen and (max-width: 550px) {
    margin-bottom: 0px;
  }
}

.getstarted__headline {
  color: var(--white_a700) !important;
  font-family: Limelight !important;
  width: 92%;
  line-height: 52px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    font-size: 36px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    font-size: 27px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 21px;
  }
}

.getstarted__description-1 {
  color: var(--white_a700) !important;
  font-family: Gilda Display !important;
  width: 72%;
  line-height: 37px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    font-size: 27px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    font-size: 26px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

.getstarted__image-1 {
  height: 590px;
  width: 34%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.footer {
  margin-top: 80px;
  margin-bottom: 12px;
  padding-left: 56px;
  padding-right: 56px;
  gap: var(--space-lg);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.footer__divider {
  height: 1px;
  margin-left: 84px;
  margin-right: 84px;
  background-color: var(--white_a700_7f);
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rowiconpayment {
  margin-left: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
  }
}

.footer__links {
  margin-bottom: 32px;
  align-self: flex-end;
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.helpfaq-link {
  font-style: italic;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }
}

.terms-link {
  margin-left: 40px;
  font-style: italic;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.footer__additional {
  margin-left: 30px;
  width: 100%;
  padding: var(--space-md);
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.footer__content {
  gap: var(--space-13xl);
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.footer__copyright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.footer__contact-icons {
  height: 50px;
  width: 18%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.footer__payment {
  gap: var(--space-md);
  display: flex;
  width: 8%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.footer__payment-icons {
  gap: var(--space-sm);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}

.footer__payment-icon {
  height: 66px;
  width: 100%;
  object-fit: cover;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.footer__payment-vector {
  height: 64px;
  width: 124px;
  object-fit: contain;
}

.footer__paypal-button {
  background-color: var(--white_a700) !important;
  width: 124px;
  height: 64px;
  padding: var(--space-lg);
  border-radius: 8px !important;
}
